    <section class="banner-bottom-wthree py-5" id="about">
        <div class="container py-md-3">
            <div class="row banner-grids">
                <div class="col-md-6 content-left-bottom text-left pr-lg-5">
                    <h4>Đồ công nghệ PinC</h4>
                    <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin velit. Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum libero. Pellentesque maximus Pellentesque libero justo Nulla uter sollicitudin velit. Sed porttitor orci vel ferm semper at vel, ultrices in ligula semper at vel.Curabitur ut turpis massa in condimentum libero.</p>

                </div>
                <div class="col-md-6 content-right-bottom text-left">
                    <img src="https://i.imgur.com/PXXHO1y.jpg" alt="news image" class="img-fluid">
                    
                </div>
            </div>
        </div>
    </section>