    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->
            <header>
                <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4 d-lg-flex">
                        <div id="logo">
                            <h1> <a href="index.html"><span class="fa fa-align-center" aria-hidden="true"></span>PinC-Shop</a></h1>
                        </div>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu mt-2 ml-auto">
                            <li class="active"><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/about" class="scroll">About</a></li>
                            <li><a routerLink="/list" >List </a></li>
                            <!-- <li><a routerLink="admin">Admin</a></li> -->
                            <!-- <li><a href="#contact" class="scroll">Login</a></li> -->
                            <li><a routerLink="/contact" class="scroll">Contact</a></li>

                        </ul>
                    </nav>
                    
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center">
                    <h3>product Special</h3>
                    <div class="read-more">
                        <a href="#about" class="read-more scroll">Read More </a> </div>
                </div>
                <div class="row order-info">
                    <div class="middle mt-3 col-md-6 text-left">
                    <!--  -->
                    </div>
                    <div class="middle-right mt-md-3 col-md-6 text-right">
                        <h6><span class="fa fa-phone"></span> Phone Now : 123456789</h6>
                    </div>
                </div>
            </div>
            <!-- //banner -->
        </div>
    </div>