  <section class="order-sec pb-5 pt-md-0 pt-5" id="order">
        <div class="container py-lg-3">
            <div class="test-info text-center">
                <h3 class="tittle order">
                    <span>SALE SỐC</span>Product Of the Day</h3>

                <div class="row mt-lg-4 mt-3">
                    <div class="col-md-6 order-left-content text-right">
                        <h4>$99</h4>
                    </div>
                    <div class="col-md-6 order-right-content text-left">
                        <ul class="tic-info list-unstyled">
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Integer sit amet mattis quam

                            </li>
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Praesent ullamcorper dui turpis

                            </li>
                            <li>

                                <span class="fa fa-long-arrow-right mr-2"></span> Integer sit amet mattis quam

                            </li>

                        </ul>
                    </div>
                    <div class="read-more mx-auto text-center">
                        <a href="#contact" class="read-more scroll">Read More </a> </div>
                </div>
            </div>
        </div>
    </section>
    <!--//order-now-->

    <!-- Gallery -->
    <section class="gallery py-5" id="gallery">
        <div class="container py-md-5">
            <div class="header text-center">
                <h3 class="tittle mb-lg-5 mb-3">Nổi bật nhất</h3>
            </div>
            <div class="row news-grids text-center gallery-wrap">
                <div class="col-md-3 gal-img">
                    <a href="#gal1"><img src="https://i.imgur.com/YpopUqn.gif" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal2"><img src="https://i.imgur.com/XYOtmPi.gif" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal3"><img src="https://i.imgur.com/9CJ8mxi.gif" alt="news image" class="img-fluid"></a>
                </div>
                <div class="col-md-3 gal-img">
                    <a href="#gal4"><img src="https://i.imgur.com/4StrPDA.gif" alt="news image" class="img-fluid"></a>
                </div>

            </div>

            <!-- popup-->
            <div id="gal1" class="pop-overlay animate">
                <div class="popup">
                    <img src="https://i.imgur.com/v9LqQLj.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->

            <!-- popup-->
            <div id="gal2" class="pop-overlay animate">
                <div class="popup">
                    <img src="https://i.imgur.com/r5Qs2Em.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->
            <!-- popup-->
            <div id="gal3" class="pop-overlay animate">
                <div class="popup">
                    <img src="https://i.imgur.com/L8Dya33.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup3 -->
            <!-- popup-->
            <div id="gal4" class="pop-overlay animate">
                <div class="popup">
                    <img src="https://i.imgur.com/JrAGLNY.jpg" alt="Popup Image" class="img-fluid" />

                    <a class="close" href="#gallery">&times;</a>
                </div>
            </div>
            <!-- //popup -->


        </div>
    </section>